.our-works {
  text-align: center;
  padding: 4rem 1rem;
  background: linear-gradient(to right, #000, #072064 80%, #000);
  color: #ffffff;
}

.our-works h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.works-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.work-card {
  background-color: transparent;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
}

.work-card:hover {
  transform: translateY(-5px);
}

.work-card img {
  width: 130%;
  height: 115%;
  object-fit: cover;
}



.work-text {
  padding: 1rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .works-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 768px) {
  .our-works h2 {
    font-size: 2rem;
  }

  .works-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .works-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .our-works h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .works-container {
    grid-template-columns: 1fr;
  }

  .our-works h2 {
    font-size: 1.5rem;
  }
}
